# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django media
backend/media/

# Django static files
backend/staticfiles/

# Python cache
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db